{% extends "base.html" %} {% block content %}
<main class="change-password-main">
  <div class="main-top">
    <h1>Cambiar Contraseña</h1>
  </div>
  <form method="post">
    <div class="form-body">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-field">{{ field.label_tag }} {{ field }}</div>
      {% if field.errors %}
      <div class="form-error">{{ field.errors }}</div>
      {% endif %}
      {% endfor %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
      </div>
    </div>
  </form>

  <div class="form-actions">
    {% if user_id %}
    <a class="btn btn-primary" href="{% url 'profile' user_id %}">Volver al perfil</a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'profile' user.id %}">Volver al perfil</a>
    {% endif %}
  </div>
</main>
{% endblock %}
